{{#if notEditing}}
{{outlet}}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Question: {{question}}</h3>
    <h4>Author: {{author}}</h4>
  </div>
  <div class="panel-body">
    <h4>Description:</h4>
    <p>{{description}}</p>
  </div>
  <div class="panel-footer">
    <span {{action 'edit'}} class="btn btn-primary">Edit this Question</span>
    <span {{action 'delete'}} class="btn btn-danger">Delete this Question</span>
    {{#link-to 'new-answer'}}<span class="btn btn-primary">Answer this Question</span>{{/link-to}}
  </div>
</div>

<h2>Answers:</h2>

{{#each answer in model.answers}}
{{#link-to 'answer' this.id}}<div class="panel panel-danger">
  <div class="panel-heading">
    <h4>Author: {{answer.author}}</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    <li class="list-group-item">{{answer.answer}}</li>
    </ul>
  </div>
</div>{{/link-to}}
{{/each}}


{{else}}

<div class="form-group">
  <form>
    {{input valueBinding="question" class="form-control" id="question" placeholder="Enter your question"}}<br>
    {{input valueBinding="author" class="form-control" id="author" placeholder="Enter your name"}}<br>
    {{textarea valueBinding="description" class="form-control" rows="5" id="description" placeholder="Enter some more information"}}<br>

    <button class="btn btn-primary" {{action 'save'}}>Submit Question</button>
  </form>
</div>

{{/if}}
